<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
</head>
<body>
  <div class="container">

    <h1> Url Shortner</h1>
    <form action ="/shortUrl" method="POST" class="my-4 form-inline" >
      <label for="fullUrl" class="sr-only">Full Url</label>
      <input placeholder="Url..." type="url" name ="fullUrl" id="fullUrl"  class="form-control col mr-2">
      <input class="btn btn-success" type="submit" value="ShortIt" >
    </form> 
    
    <table class="table table-stripped table-responsive">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Num of Clicks</th>
          
        </tr>
      </thead>
      <tbody>
        <% shortUrls.forEach( shortUrl => { %>

          <tr>
            <td>
              <a href="<%= shortUrl.full %>"><%= shortUrl.full %></a>
            </td>
            <td>
              <a href="<%= shortUrl.short %>"><%= shortUrl.short %></a>
            </td>
            <td><%= shortUrl.Clicks %></td>
          </tr>

          <% }) %>
        %>
        
      </tbody>
    </table>
  </div>
  </body>
</html>